/* ChatWindow.css */

.chat-log {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
}

.message.user {
  text-align: right;
}

.message.persona {
  text-align: left;
}

.message.system {
  text-align: center;
  font-style: italic;
  color: #666;
}

.chat-input-area {
  display: flex;
  gap: 1%;
}

.chat-input {
  width: 80%;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

.send-button {
  width: 19%;
  padding: 10px;
  box-sizing: border-box;
}
